@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "AuthenticSans";
    src: url("../assets/fonts/authentic-sans/woff/AUTHENTICSans-60.woff2");
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: "AuthenticSans";
    src: url("../assets/fonts/authentic-sans/woff/AUTHENTICSans-90.woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "AuthenticSans";
    src: url("../assets/fonts/authentic-sans/woff/AUTHENTICSans-130.woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "AuthenticSans";
    src: url("../assets/fonts/authentic-sans/woff/AUTHENTICSans-150.woff2");
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: "AuthenticSansCondensed";
    src: url("../assets/fonts/authentic-sans/woff/AUTHENTICSans-Condensed-90.woff2");
    font-weight: 400;
    font-style: normal;
  }
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}
#__next {
  @apply h-full;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-repeat: repeat;
  z-index: -1;
}

.grain-overlay {
  background-image: url("../assets/grain.png");
  background-repeat: repeat;
  background-size: 150px;
  opacity: 0.1;
}

.marble-overlay {
  background-image: url("../assets/marble.png");
  background-repeat: repeat;
  background-size: 1024px;
  opacity: 0.1;
}

strong {
  @apply text-lg;
}
.nanum-pen-script-regular {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* 

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background-color: #F5F5F5;
  }


  a {
    color: inherit;
    text-decoration: none;
  }
} */
